<% if @contact.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <!-- # NOTE: .errors is provided by ActiveModel -->
    <% @contact.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
