<% content_for(:title, "Wikipages: Edit #{@contact.name}") %>

<h1>Edit contact</h1>

<%= render('contact_errors') %>

<form action="/contacts/<%= @contact.id %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <%= render('contact_form') %>

  <button>Update Contact</button>
</form>
