<h1>Contacts</h1>

<p>
  <a href="/contacts/new">Create new contact</a>
</p>

<ul>
  <% @contacts.each do |contact| %>
    <li>
      <a href="/contacts/<%= contact.id %>">
        <%= contact.name %>
      </a>
    </li>
  <% end %>
</ul>
