<% content_for(:title, 'Wikipages: New Contact') %>

<h1>New Contact</h1>

<%= render('contact_errors') %>

<form action="/contacts" method="post">
  <%= render('contact_form') %>

  <button>Create Contact</button>
</form>
